.header{
    height: 55px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    
}
img{
   
    height: 50px;
}
.btn{
    cursor: pointer;
    height: 35px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 3vh;
    font-weight: 700;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}