.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.form{
    width: 80%;
    
}
.incitingText{
    color: #2816b1;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}
.input{
    font-family: 'Amatic SC', cursive;
}