.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.form{
    width: 80%;
    
}
.incitingText{
    color: #1900D5;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}