.header{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    
}
img{
   
    height: 50px;
}
.btn{
    cursor: pointer;
    height: 25px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 10px;
}